body{
    background-color:rgb(255, 255, 255);
    background-image: url(pink.jpg);
    margin: 0 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #578adc;
}
h1{
    color: rgb(123, 106, 255);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-top: 30px;
    text-shadow: .1em .1em .2em gray;
}
h2{
    color: rgb(96, 111, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;

}
h3 {
    color: #c26790;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: rgba(154, 190, 255, 0.5);
    background-position: center top;
    margin-top: 0;
    text-align: center;
}
footer {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 1em;
    font-size: large;
}
footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
}
p {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #db6e9f;
    font-size: large;
}
img {
    align-items: center;
}
a:focus, a:hover {
    background-color: #d1bbff;
}
